.positive{
    background-color: #6c3;	
}

.mixed{
    background-color: #fc3;
}
.negtive{
    background-color: #f00;
}
.tbd{
    background-color: #ccc;
    text-transform: lowercase;
}
.small {
    font-size: 0.75em!important;
}

.large{
    font-size: 1.5em!important;
}

.detail_metascore_container{
    display: inline-block;
    margin-top: 0.8em;
    margin-right: 2em;
}

.detail_metascore_container a:hover{
    color: #87cefa;
}

.detail_metascore_container a:link{
    color: #fff;
    text-decoration:none;
}


.detail_metascore_container a:visited{
    color: #fff;
    text-decoration:none;
}

.detail_metascore_title{
    font-weight: bold;
}

.detail_metascore_text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.8em;
}
.metascore_container{
    bottom: .5rem;
    display: flex;
    flex-wrap: nowrap;
    right: .5rem;
    position: absolute
}

.lowest_badge{
    position: absolute;
    top: 0em;
    z-index: 2;
    height: 1.8em;
    line-height: 1.8em;
    padding: 0 .25em;
}

.plus_lowest{
    background-color: #968719;
    color:#ffffff;
}

.regular_lowest{
    background-color: #006cff;
    color:#ffffff;
}

.both_lowest{
    background-color: #cc1d1d;
    color:#ffffff;
}

.discount_container{
    font-size: 0.85em!important;
}

.discount_container a:link
{
    color: #fff;
}

.discount_container a:visited
{
    color: #fff;
}

.discount_container a:hover{
    color: #87cefa;
}

.user{
    border-radius: 55%;
    height: 2em;
    width: 2em;
    line-height: 2.18em;
}
.metascore_w {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff!important;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal!important;
    font-weight: bold!important;
    height: 1.8em;
    width: 1.8em;
    line-height: 1.8em;
}