.positive{
    background-color: #6c3;	
}

.mixed{
	background-color: #fc3;
}
.negtive{
	background-color: #f00;
}
.tbd{
    background-color: #ccc;
    text-transform: lowercase;
}
.small {
    font-size: 0.75em!important;
}

.large{
	font-size: 1.5em!important;
}

.detail_metascore_container{
	border: 1px solid rgba(255,255,255,0.1);
	background-color: rgba(255,255,255,0.05);
    padding: 0.5em;
    margin-top: 0.8em;
}

.detail_metascore_container a:hover{
    color: #87cefa;
}

.detail_metascore_title{
	font-weight: bold;
}

.detail_metascore_text{
	display: inline-block;
    vertical-align: middle;
	margin-left: 0.8em;
}
.metascore_container{
	height:2em;
    padding: .4375em;
}

.discount_container{
    font-size: 0.85em!important;
}

.discount_container a:hover{
    color: #87cefa;
}

.user{
	border-radius: 55%;
    height: 2em;
    width: 2em;
    line-height: 2.18em;
}
.metascore_w {
	display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff!important;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal!important;
    font-weight: bold!important;
    height: 1.8em;
    width: 1.8em;
    line-height: 1.8em;
}